extends base

block content
    .container.d-flex.justify-content-center.mb-lg-5.mb-5.flex-column(style='margin-top: 7rem; min-height: 100vh; max-height: max-content;')
            .w-100
                .display-4.mb-5 Update Me
                .row
                label.col-sm-2.col-form-label(for='aboutmename') Name
                .col-sm-10
                    input#aboutmename.form-control(type='text' readonly='' required='' value=user.name)
                label.col-sm-2.col-form-label.mt-1(for='aboutmeemail') Email
                .col-sm-10.mt-1
                    input#aboutmeemail.form-control(type='email' readonly='' required='' value=user.email)
                
                button.btn.bg-primary.mt-4.text-white.me-2.btnEdit Edit
                button.btn.bg-primary.mt-4.text-white#form-updateme Update Name &amp; Email
                
            
            .w-100
                h3.display-5.m-4 Update Password
                
                label.col-sm-2.col-form-label.mt-1(for='currentpassword') Current Password
                .col-sm-10.mt-1
                    input#currentpassword.form-control(type='password' readonly='')
                label.col-sm-2.col-form-label.mt-1(for='aboutmepassword') Update Password
                .col-sm-10.mt-1
                    input#aboutmepassword.form-control(type='password' readonly='')
                label.col-sm-2.col-form-label.mt-1(for='aboutmepasswordconform') Update PasswordConform
                .col-sm-10.mt-1
                    input#aboutmepasswordconform.form-control(type='password' readonly='')
                button.btn.bg-primary.mt-4.text-white.me-2.editPassword Edit
                button.btn.bg-primary.mt-4.text-white#updatePassword Update Password

    script(src='./js/aboutMe.js')